<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Sensors Monitor</title>
    @Styles.Render("~/Content/bootstrapcss")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @RenderBody()

    
    @Scripts.Render("~/bundles/bootstrapjs")
</body>
</html>
